.screen {
    min-height: 100vh;
}
.columns {
    column-count: 5;
}

.card {
    cursor: pointer;
}
.item-selected {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.29) inset;
}
.card.selected {
    background: #57a3f1;
    color: white;
    box-shadow: 0 0 4px 2px #5cacffa8;
}
.card.selected .item-selected {
    background: #5cacff;
}

.search-input {
    position: relative;
}
.autocomplete-list {
    max-height: 197px;
    overflow: scroll;
    position: absolute;
    width: 100%;
    box-shadow: 0px 7px 7px 1px rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: none;
}
.search-input .list-group-item {
    cursor: pointer;
}
.search-input input:focus + .autocomplete-list,
.search-input input:hover + .autocomplete-list,
.autocomplete-list:hover {
    display: block;
}